.box {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    display: inline-block;
}
@media (max-width: 767px) {
    .mobile {
        background-color: #0997d3;

    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .tablet {
        background-color: #bada55;
    }
}
@media (min-width: 992px) and (max-width: 1800px) {
    .desktop {
        background-color: #000; /*** 1800px which is generally a large desktop size.
If you want to go beyond that (1800px), don't specify a limiting max-width.**/
    }
}